$primary:   #007bff;    // $primary = $blue     Navigationsleiste und Knöpfe
$secondary: #adb5bd;    // $gray-500            Blocküberschrift
$light:     #e9ecef;    // $gray-200            Blockhintergrund
